<html>
	
	<body>
		<h4>Pickup Date: <%=obj.pickupDate %></h4>
		<h4>Pickup Time: <%=obj.pickupTime %></h4>
		<h4>Pickup Address: <%=obj.pickupAddress %></h4>
		<h4>Pickup Details: <%=obj.pickupDetails %></h4>

		<h4>Delivery Date: <%=obj.deliveryDate %></h4>
		<h4>Delivery Time: <%=obj.deliveryTime %></h4>
		<h4>Delivery Address: <%=obj.deliveryAddress %></h4>
		<h4>Delivery Details: <%=obj.deliveryDetails %></h4>
		<a href="/takedelivery/<%=obj._id%>">Take Devliery <%= obj._id %></a>
	</body>
</html>